<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<title th:text="${titulo}"></title>
<th:block th:insert="base.html :: head">
</th:block>
</head>
<body>
	<div class="container" style="margin-top: 30px">
		<div class="row">
			<div class="col-sm-4">
				<div class="alert alert-success" th:if="${success!=null}"
					th:text="${success}"></div>
				<br>
				<h2 th:text="${titulo}"></h2>
				<br>
				<div>
					<form action="#" th:action="@{/admin/articles/formarticle}"
						th:object="${article}" method="post">

						<br>
						<div class="row form-group">
							<label class="col-md-3">Título</label> <input type="text"
								th:field="*{title}" th:errorclass="'form-control alert-danger'"
								required> <br> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
						</div>

						<div class="row form-group">
							<label class="col-md-3">Subtítulo</label> <input type="text"
								th:field="*{subtitle}"
								th:errorclass="'form-control alert-danger'"> <br> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('subtitle')}" th:errors="*{subtitle}"></small>
						</div>

						<div class="row form-group">
							<label class="col-md-3">Imagen</label> <input type="text"
								th:field="*{image}" th:errorclass="'form-control alert-danger'">
							<br> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></small>
						</div>

						<div class="row form-group">
							<label class="col-md-3">Enlace</label> <input type="text"
								th:field="*{link}" th:errorclass="'form-control alert-danger'">
							<br> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></small>
						</div>

						<div class="row form-group">
							<label class="col-md-3">Texto</label> <input type="text"
								th:field="*{text}" th:errorclass="'form-control alert-danger'">
							<br> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></small>
						</div>

						<div class="row form-group">
							<input type="submit" value="Enviar" />
						</div>
					</form>
				</div>
				<br> <a th:href="@{/admin}">Administrar</a>
			</div>

		</div>
	</div>
	<footer th:replace="base.html :: footer"></footer>
</body>
</html>